html, body {
  font-family: Roboto;
	background-color: #184e77;
	color: #FFFFFF;
	font-size: 8pt;
	padding: 4px;
  	height: 100%;
  	width: 100%;
}


.busdata {font-family:Roboto;}

canvas {
	width: 100% !important;
	height: 100% !important;
  }
